#home{
  background-attachment: fixed;
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  background-image:url("./images/background.jpg");

}
#home h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  font-weight: bolder;
}
#home a{
  text-decoration: none;
}
#footer p{
  margin-top: 18%;
  color: white;
  margin-left: 10%;
  font-size: 50px;
  position: relative;
}
.name{
  font-feature-settings: "c2sc";
  font: optional; color: gold; size: 23v;
}
#order{
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-image: url("/images/background.jpeg");

}
#order h1{
  text-align: center;
  color: white;
  margin-top: 8%;
  font-family: 'Times New Roman', Times, serif;
  font-size:70px; 
}
#btn{
  justify-content: center;
  display: flex;
  margin-left: 40%;
  margin-top: 15%;
  padding: 20px 40px;
  font-size: 30px;

}
#btn:hover{
  background-color: orange;
  color:white;
}
#btn2{
  margin-left: 5%;
  margin-top: 1%;
  padding: 20px 40px;
  font-size: 20px;

}
#btn2:hover{
  background-color: orange;
  color:white;

}