#home{
  background-attachment: fixed;
  background-position:center ;
  background-repeat: no-repeat;
  background-size: cover;
  height: 110vh;
  background-image:url("./images/background.jpg");

}
#home h1{
  text-align: center;
  font-size: 100px;
  font-family: 'Times New Roman', Times, serif;
  color:white;
  font-weight: bolder;
}
#home a{
  text-decoration: none;
}
#footer p{
  margin-top: 18%;
  color: white;
  margin-left: 10%;
  font-size: 50px;
  position: relative;
}
.name{
  font-feature-settings: "c2sc";
  font: optional; color: gold; size: 23v;
}
.form{
  background-attachment: fixed;
  background-position: center;
  /* background-image: url("/images/background.jpeg"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}
#order{
  background-attachment: fixed;
  background-position: center;
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;

}
#order h1{
  text-align: center;
  color: white;
  margin-top: 8%;
  font-family: 'Times New Roman', Times, serif;
  font-size:70px; 
}
#btn{
  justify-content: center;
  display: flex;
  margin-left: 40%;
  margin-top: 15%;
  padding: 20px 40px;
  font-size: 30px;

}
#btn:hover{
  background-color: orange;
  color:white;
}
#btn2{
  margin-left: 5%;
  margin-top: 1%;
  padding: 20px 40px;
  font-size: 20px;

}
#btn2:hover{
  background-color: orange;
  color:white;

}
#order h1{
  text-align: center;
  color: white;
  margin-top: 8%;
  font-family: 'Times New Roman', Times, serif;
  font-size:70px; 
}
#piz {
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: 5%;
}
#piz h2{
  text-align: center;
}
h3{
  text-align: center;
  font-weight: bolder;
  
  
}

#header{
  font-weight: bolder;
  text-align: center;
  /* background-image: url(./images/background.jpeg); */
  background-size: cover;
}

#form{
  margin-left: 0%;
  background-color: rgb(37, 36, 36); 
  background-size: cover; 
}
#form label{
  font-size: 40px;
  text-align: center;
  margin-left: 30%;
}
#submit2{
  margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
  .home,.footer,#piz {
    font-size: calc(3vw + 3vh + .5vmin);
  }
  .home,.footer,#piz {
    font-size: calc(1vw + 1vh + .5vmin);
  }
  @media only screen and (max-width: 1024px){
    form input, form textarea{
    width: 100%;
    margin: 7px 0;
  }
    form input[type=submit]{
    width: auto;
    padding: 0 20%;
  
  }
}
}
